@media screen and (max-width:992px){
    .menu-toggle{
        display:block;
    }

    .navbar-menu{
        display:none;
    }

    .navbar-menu.active{
        display:flex;
    }
}

.floating-home{
    position:absolute;
    top:20px;
    left:20px;

    padding:10px 16px;

    z-index:1000;

    display:inline-block;

    padding:12px 20px;

    background:rgba(0,191,255,.1);

    border:1px solid rgba(0,191,255,.4);

    border-radius:12px;

    color:#00bfff;

    text-decoration:none;

    font-weight:600;

    transition:.3s;
}

.floating-home:hover{
    transform:translateY(-3px);
    box-shadow:0 0 15px rgba(0,191,255,.4);
}

.floating-home,
.login-btn,
.register-btn{
    display:flex;
    align-items:center;
    justify-content:center;

    width:110px;
    height:44px;

    background:rgba(0,191,255,.05);

    border:1px solid #00bfff;
    border-radius:12px;

    color:white;

    text-decoration:none;
    font-weight:600;

    box-sizing:border-box;
}

.login-btn,
.register-btn{
    background:transparent;

    border:1px solid #00bfff;

    color:white;

    box-shadow:
        0 0 10px rgba(0,191,255,.2);
}

.login-btn,
.register-btn{
    display:flex !important;
    align-items:center !important;
    justify-content:center !important;

    padding:0 !important;
    margin:0 !important;

    line-height:1;
}


.auth-buttons{
    display:flex;
    align-items:center;
    gap:12px;
}

.floating-home:hover,
.login-btn:hover,
.register-btn:hover{
    background:rgba(0,191,255,.1);

    box-shadow:
        0 0 20px rgba(0,191,255,.5);

    transform:translateY(-2px);
}

.section-title{
    text-align:center;
    font-size:clamp(28px,5vw,36px);
    letter-spacing:1px;
    font-weight:700;
    color:#00bfff;
    margin-bottom:40px;
    text-shadow:0 0 10px #00bfff,0 0 20px #00bfff;
}

.logo-wrapper{
    position:relative;
    display:flex;
    justify-content:center;
    align-items:center;
    width:260px;
    height:260px;
    margin:auto;
}

.logo-ring::before{
    content:"";
    position:absolute;
    inset:12px;
    border-radius:50%;
    background:#050816;
}

.logo-ring{
    position:absolute;
    width:250px;
    height:250px;
    border-radius:50%;
    background:
    conic-gradient(
        from 0deg,
        transparent,
        #00bfff,
        #1e90ff,
        #00e5ff,
        transparent
    );

    animation:spin 3s linear infinite;

    filter:blur(3px);

    box-shadow:
    0 0 20px #00bfff,
    0 0 40px #00bfff,
    0 0 60px #00bfff;
}

.login-btn,
.register-btn{
    background:transparent !important;

    border:1px solid #00bfff;

    color:white;

    box-shadow:
        0 0 10px rgba(0,191,255,.2);
}

.register-btn{
    box-shadow:
        0 0 10px rgba(0,191,255,.2) !important;

    background:transparent !important;
}